/*
  @author : Sreelekha Mondal.
  @date : 14 October, 2025. 
  HTML file : HTML_DIY-06_Sreelekha_Mondal_II.html
*/

/* import the google font link using import rule */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* Styling for the body */
body
{
  margin : 0;
}

/* stylign for the parent div element which is containing another div within it. */
.main_div
{
  margin : auto;
  margin-top : 30px;
  padding : 30px;
  width : 80%;
  border : 2px solid #211832;
  border-radius : 20px;
  box-shadow : 4px 2px 10px #412B6B;
  color : #7B542F;
}

/* 
  To avoid the overlapping of the scrollbar with the border of the parent div, another div element is created within the parent div and 
  the overflow of the child div is set to auto, so the overflow will not be overlapped with the parent div's border.
 */
.overflow
{
  box-sizing : border-box;
  overflow : auto;
}

/* Styling for the text of the list */
.text
{
  margin-top : 10px;
  font-family : Sahadeva;
  font-size : 18px;
  font-weight : bold;
}

/* To set the style of the input field */
.input_field
{
  height : 25px;
  width : 250px;
  margin-right : 10px;
  border : 3px solid gray;
  border-radius : 5px;
  overflow : hidden;
}

/* To add some space between the delete button and the text */
.space
{
  margin-left : 10px;
}

/* Styling for all the buttons */
.button
{
  height : 32px;
  width : 90px;
  font-family : "Caveat", cursive;
  font-weight : bold;
  font-size : 16px;
  background-color : #F4E9D7;
  border-radius : 10px;
}
