/*
  @author : Sreelekha Mondal.
  @date : 14 October, 2025. 
  HTML file : HTML_DIY-06_Sreelekha_Mondal_II.html
*/

/* Styling for the body */
.body
{
  margin : 0;
}

/* stylign for the div element */
.div
{
  margin : auto;
  margin-top : 30px;
  padding : 30px;
  width : 80%;
  border : 2px solid #211832;
  border-radius : 20px;
  box-shadow : 4px 2px 10px #412B6B;
  color : #7B542F;
}

.overflow
{
  box-sizing : border-box;
  overflow : auto;
}

/* Styling for the text of the list */
.text
{
  margin-top : 10px;
  font-family : Sahadeva;
  font-size : 18px;
  font-weight : bold;
}

/* To set the border of the input field */
.border
{
  height : 25px;
  width : 250px;
  margin-right : 10px;
  border : 3px solid gray;
  border-radius : 5px;
  overflow : hidden;
}

/* To add some space between the delete button and the text */
.space
{
  margin-left : 10px;
}

/* Styling for all the buttons */
.button
{
  height : 30px;
  width : 90px;
  font-family : Dyuthi;
  font-size : 16px;
  background-color : #F4E9D7;
  border-radius : 10px;
}
